.cores-disponiveis {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
}

.detalhes-produto {
  padding: 16px;
  margin: 8px;
  border: 1px solid var(--cor-primaria);
  background-color: var(--cor-texto-claro);
}
